body{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
}

.sub.one{
    display: flex;
    flex-direction: column;
    /*background-color: #1f2937;*/
    background-color: aqua;
}

.center{
    display: flex;
}

.sub .two{
    display: flex;
    justify-content: center;
    height: 200px;

}

.imag{
    width: 100px;
    height: 100px;
    background-color: brown;
    margin: 0 15px;
}

.sub .two p{
    text-align: center;

}

.sub.three{
    background-color: grey;
    text-align: center;
    
}

.footer{
    /*background-color: #1f2937;*/
    background-color: aqua;
}




img {
    width:100px;
    height:100px;
    
  }

  ul{
    list-style-type:none;
  }

  li{
    display: inline-block;
  }
  
  a{
    text-decoration: none;
  }