body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul{
    list-style-type:none;
  }

li{
    display: inline-block;
  }
  
a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
  }

.sub{
    padding: 50px 75px;
}

.header{
    padding: 0 75px;
    margin: 0;
    color:white;
    font-size: 24px;
    background-color: #1f2937;
    display: flex;
    
    justify-content: center;
    gap: 440px;
}

.header p{
    font-size: 24px;
    color: #f9faf8;
}

.header ul li{
    margin: 0 15px;
}

.sub.one{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.sub.one .center .left{
    width: 20%;
    color: white;
}

.sub.one button{
    background-color: #3382f6;
    padding: 8px;
    border-radius: 8px;
    color: white;
    
}

.center{
    display: flex;
    gap: 100px;
    justify-content: center;
}

.sub.one .center .placeholder{
    background-color: grey;
    height: 23vh;
    width: 450px;
    text-align: center;
    line-height: 250px;
    color: white;
    
}



.sub .two{
    display: flex;
    justify-content: center;
    height: 200px;
}

.sub.two .two.images img {
    width:100px;
    height:100px;
    background-color: grey;
    
  }

.sub.two h1{
    text-align: center;
    margin-bottom: 15px;

}



.ad{
    display: flex;
    border-radius: 25px;
    background-color: #3882f6;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 575px;
    margin: 0 auto;
    gap: 50px;
}

.sub.four .ad{
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.sub.four button{
    background-color: #3882f6;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border-color: white;
    

}

.addLeft{
    margin: 0 0; /* arreglar esto */
}

.addLeft h1{
    font-size: large;
}

.addLeft p{
    font-size: small;
}

.imag{
    width: 100px;
    height: 100px;
    background-color: brown;
    margin: 0 15px;
}

.sub .two p{
    text-align: justify;
    display: block;
    width:100px;


}

.sub.three{
    background-color: grey;
    text-align: center;
}

.sub.three p{
    font-size:x-large;   
}

.sub.four .ad .addLeft p, h1{
    margin: 0; 
}


.footer{
    /**/
    text-align: center;
    background-color: #1f2937;
    color: white;
    padding: 40px;
}



